/AcPluginTest/*.suo
/output/Debug
/AcPluginTest/obj/Debug
/AcCommandTest/obj/Debug
/AcCommandTest/obj/Release
/AcPluginTest/obj/Release
/output/Release
/*.suo
/.vs/AcPlugin/v16/*.suo
/AcPluginTest/*.user
/acCustomUI/obj/Release
