/AcPluginTest/*.suo
/output/Debug
/AcPluginTest/obj/Debug
/AcCommandTest/obj/Debug
/AcCommandTest/obj/Release
/AcPluginTest/obj/Release
/output/Release
/*.suo
/.vs/AcPlugin/v16/*.suo
/AcPluginTest/*.user
/acCustomUI/obj/Release
/AcStarter/obj/Release
/AcCustomUI/McMenu.bak.cuix
/AcCustomUI/McMenu.mnr
/AcCustomUI/McMenu - 副本.CUIX
/acCustomUI/obj/Debug
/AcStarter/obj/Debug
/AcPlugin.sln.DotSettings.user
/AcRecognize/obj/Debug
/AcRecognize/.vs/AcRecognize/v16
